/* ------- Reset ------- */
@import url("reset.css");
/* ===================================================================== */


/* ------ Базові селектори ------ */
/* Універсальний селектор звертається до всіх об'єктів на сторінці * */
* {
   color: #333;
}
/* Селектор тегу <name> звертається до всіх вказагих тегів */
h1 {
   color: #002147;
}
/* Селектор класу .name звертається до всіх вказагих класів */
.section-title {
   color: #D90429;
}
/* Селектор атрибуту [] звертається до всіх об'єктів з вказаним атрибутом та точним співпадінням вказаного значення */
[title="Детальніше"] > mark {
   color: #6200ff;
}
/* Селектор ідентифікатора # */
#copy {
   color: #008037;
}


/* ------ Комбінації селекторів ------ */
/* Усі вказані теги з певним класом <name>.name  */
div.article-map {
   color: #008080;
}
/* Усі вказані теги з двома класами одночасно (порядок запису немає значення!) .name.name */
.pattern-generator.article-pattern-generator {
   color: #7D3C98;
}
/* Звертаємося відразу до всіх вказаних об'єктів , */
.playlist-audio,
.playlist-video {
   color: #E83F6F;
}


/* ------ Каскадність селекторів ------ */
/* Усі вкзані теги всередині об'єкта з вказаним класом .name <name> */
.article h3 {
   color: #FFAA00;
}
/* Усі об'єкти з вказаним класом всередині об'єктів з вказаним класом .name .name */
.article-section .article-sub-title {
   color: #000;
}
/* Усі об'єкти всередині об'єктів з вказаним класом .name * */
.menu-list * {
   color: #005BBB;
}


/* ------ Комбінатори ------ */
/* Усі вказані теги першого рівня вкладеності всередині об'єктів з вказаним класом .name > <name> */
.article-image-wrap > div {
   color: #7851A9;
}
/* Усі вказані теги які знаходяться далі по коду після об'єктів з вказаним класом або тегом та мають той самий рівень вкладеності .name ~ <name> & <name> ~ <name> */
p ~ ul li {
   color: #009688;
}
/* Вказаний тег який знаходиться безпосередньо далі по коду після об'єктів з вказаним класом або тегом та має той самий рівень вкладеності .name + <name> & <name> + <name> */
img + p {
   color: #0277BD;
}
