/* Local fonts ------------------------------------- */
@import url("fonts.css");

/* Reset ------------------------------------------- */
@import url("reset.css");
/* ================================================= */

/* Компенсація шапки */
html {
   scroll-padding-top: 53px;
}
.wrapper {
   font-family: "Poppins", sans-serif;
   min-height: 100%;
   overflow: clip;
}
[class*="__container"] {
   max-width: 1350px;
   padding-inline: 15px;
   margin: 0 auto;
}

/* ================================================= */


/* === Header ====================================== */
.header {
   position: sticky;
   top: -42px;
   z-index: 50;
}
.header__top {
}
.header__body {
}
/* --- Top-header ---------------------------------- */
.top-header {
   padding: 10px 0;
   color: #808080;
}
.top-header__container {
   font-size: 0;
}
.top-header__wrap-location {
   display: inline-block;
   vertical-align: middle;
   width: 50%;
}
.top-header__link-location {
   font-size: 12px;
   background: url("../img/icons/location.svg") left / 17px no-repeat;
   padding-left: 23px;
   min-height: 20px;
   align-content: center;
}
.top-header__link-location:hover {
   text-decoration: underline;
}
.top-header__locale-switcher {
   display: inline-block;
   vertical-align: middle;
   width: 50%;
   text-align: right;
}
/* locale-switcher */
.locale-switcher {
   font-size: 12px;
}
.locale-switcher__body {
   display: inline-block;
   text-align: left;
   position: relative;
   cursor: pointer;
}
.locale-switcher__body--uppercase {
   text-transform: uppercase;
}
.locale-switcher__current {
   position: relative;
   z-index: 3;
   display: inline-block;
   padding: 5px 27px 5px 10px;
   width: 100%;
   border-radius: 4px;
}
.locale-switcher__icon {
   position: absolute;
   top: calc(50% - 3px);
   right: 10px;
   z-index: 3;
}
.locale-switcher__body:hover .locale-switcher__current,
.locale-switcher__body:hover .locale-switcher__icon path {
   color: #1A1A1A;
   background-color: #F2F2F2;
   stroke: #1A1A1A;
}
.locale-switcher__dropdown {
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   z-index: 2;
   visibility: hidden;
   opacity: 0;
}
.locale-switcher__dropdown::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -22px;
   width: 100%;
   height: calc(100% + 22px);
   background-color: #fff;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
}
.locale-switcher__body:hover .locale-switcher__dropdown {
   opacity: 1;
   visibility: visible;
   color: #000;
}
.locale-switcher__item {
}
.locale-switcher__link {
   padding: 5px 0 5px 10px;
   width: 100%;
   border-radius: 4px;
}
.locale-switcher__link:hover {
   background-color: #00B207;
   color: #fff;
}
/* --- Body-header --------------------------------- */
.body-header {
   background-color: #333;
   padding: 16px 0;
   text-align: center;
}
.body-header__container {
}
.body-header__menu {
}
/* --- Menu ---------------------------------------- */
.menu {
}
.menu__list {
   font-size: 0;
}
.menu__item {
   display: inline-block;
   vertical-align: middle;
}
.menu__item:not(:last-child) {
   margin-right: 32px;
}
.menu__link {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.5;
   color: #999;
}
.menu__link:hover {
   color: #fff;
}
.menu__link svg {
   margin-left: 4px;
}
.menu__link:hover svg path {
   stroke: #fff;
}
/* ================================================= */


/* === Page ======================================== */
.page {
}

/* padding-section */
[class*="--padding-section"] {
   padding: 50px 0;
}
/* title */
.title {
   font-weight: 600;
   font-size: 40px;
   line-height: 1.2; /* 48/40 */
   color: #1A1A1A;
   text-align: center;
}
.title--margin {
   margin-bottom: 16px;
}
/* button */
.button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   align-content: center;
   cursor: pointer;
}
.button:hover {
   border-color: #00B207;
   background-color: #00B207;
}
.button:hover svg path {
   stroke: #fff;
}
/* slider */
.slider {
}
.slider__pagination {
   font-size: 0;
   text-align: center;
   margin-bottom: 25px;
}
.slider__bullet-pagination {
   width: 12px;
   height: 4px;
   background-color: #00B207;
   display: inline-block;
   opacity: 0.3;
}
.slider__bullet-pagination:not(:last-child) {
   margin-right: 4px;
}
.slider__bullet-pagination--active {
   width: 40px;
   opacity: 1;
}
.slider__wrap-items {
   font-size: 0;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   white-space: nowrap;
   scroll-behavior: smooth;
   padding: 25px 0 10px;
}

/* --- Featured-products --------------------------- */
.featured-products {
}
.featured-products__container {
}
.featured-products__title {
}
.featured-products__slider {
}
/* item-product */
.item-product {
   border: 1px solid #E6E6E6;
   border-radius: 8px;
   display: inline-block;
   vertical-align: top;
   position: relative;
   max-width: 248px;
   width: 100%;
   scroll-snap-align: start;
}
.item-product:not(:last-child) {
   margin-right: 20px;
}
.item-product:hover {
   border-color: #2C742F;
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}
.item-product__link {
   max-width: 246px;
   min-height: 246px;
   border-radius: 8px;
   overflow: hidden;
   font-size: 14px;
   position: relative;
}
.item-product__link::before {
   content: "";
   position: absolute;
   inset: 0;
   background-color: #000000;
   opacity: 0;
}
.item-product__link:hover::before {
   opacity: 0.1;
}
.item-product__link:focus-visible,
.item-product__link-title:focus-visible {
   outline-color: #2C742F;
}
.item-product__link:focus-visible {
   outline-offset: -1px;
}
.item-product__image {
}
.item-product__labels,
.item-product__actions {
   position: absolute;
   top: 16px;
}
.item-product__labels {
   left: 16px;
   user-select: none;
}
.item-product__label {
   padding: 6px 8px;
   border-radius: 4px;
   font-size: 14px;
   color: #fff;
}
.item-product__label--red {
   background-color: #EA4B48;
}
.item-product__label--orange {
   background-color: #FF8A00;
}
.item-product__label--blue {
   background-color: #2388FF;
}
.item-product__label--black {
   background-color: #1A1A1A;
}
.item-product__label:not(:last-child) {
   margin-bottom: 6px;
}
.item-product__actions {
   right: 16px;
   visibility: hidden;
   opacity: 0;
}
.item-product:hover .item-product__actions {
   visibility: visible;
   opacity: 1;
}
.item-product__actions > *:not(:last-child) {
   margin-bottom: 6px;
}
.item-product__favorite,
.item-product__quick-view {
   background-color: #fff;
   border: 1px solid #F2F2F2;
}
.item-product__favorite {
}
.item-product__favorite:active {
   background-color: #fff;
   border: 1px solid #F2F2F2;
}
.item-product__favorite:active,
.item-product__favorite:active svg path {
   fill: #00B207;
   stroke: #00B207;
}
.item-product__quick-view {
}
.item-product__details {
   padding: 16px;
}
.item-product__info {
   display: inline-block;
   vertical-align: middle;
   /* Тимчасово */
   margin-right: 40px;
}
.item-product__info > *:not(:last-child) {
   margin-bottom: 5px;
}
.item-product__title {
}
.item-product__link-title {
   font-size: 14px;
   color: #4D4D4D;
   line-height: 1.5;
}
.item-product:hover .item-product__link-title {
   color: #2C742F;
}
.item-product__link-title:hover {
   text-decoration: underline;
}
.item-product__price {
}
/* price-product */
.price-product {
   font-size: 0;
}
.price-product__current {
   font-weight: 500;
   font-size: 16px;
   color: #1A1A1A;
   display: inline-block;
   margin-right: 2px;
}
.price-product__old {
   font-size: 16px;
   color: #999;
   text-decoration: line-through;
   display: inline-block;
}
.item-product__rating {
}
.item-product__add-to-cart {
   display: inline-block;
   vertical-align: middle;
   background-color: #F2F2F2;
}
.item-product:hover .item-product__add-to-cart {
   background-color: #00B207;
}
.item-product:hover .item-product__add-to-cart svg path {
   stroke: #fff;
}
.item-product:hover .item-product__add-to-cart:hover {
   background-color: #2C742F;
}
.item-product__add-to-cart--disabled {
   background-color: #F2F2F2 !important;
   cursor: not-allowed;
}
.item-product__add-to-cart--disabled svg path {
   stroke: #1A1A1A !important;
}

/* --- Top-category -------------------------------- */
.top-category {
}
.top-category__container {
}
.top-category__title {
}
.top-category__slider {
}
/* item-category */
.item-category {
   display: inline-block;
   border: 1px solid #EDEDED;
   border-radius: 6px;
   vertical-align: top;
   width: 200px;
   height: 210px;
   scroll-snap-align: start;
}
.item-category:not(:last-child) {
   margin-right: 24px;
}
.item-category:hover {
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
   border-color: #2C742F;
}
.item-category__link {
   padding: 32px 15px 24px;
   text-align: center;
   width: inherit;
   height: inherit;
}
.item-category__link:focus-visible {
   outline-offset: -1px;
   outline-color: #2C742F;
}
.item-category__wrap-image {
   max-width: 80px;
   min-height: 80px;
   font-size: 14px;
   margin-inline: auto;
   margin-bottom: 20px;
}
.item-category__title {
   font-weight: 500;
   font-size: 18px;
   color: #1A1A1A;
   line-height: 1.3;
   margin-bottom: 10px;
}
.item-category__link:hover .item-category__title,
.item-category__link:focus-visible .item-category__title {
   color: #2C742F;
}
.item-category__quantity-products {
   font-size: 14px;
   color: #808080;
}
.quantity-number {
}

/* --- Follow -------------------------------------- */
.follow {
}
.follow__container {
}
.follow__title {
   font-weight: 600;
   font-size: 32px;
   line-height: 1.2;
   color: #1A1A1A;
   text-align: center;
   margin-bottom: 32px;
}
.follow__cards {
   font-size: 0;
}
.follow__card-link {
   width: 200px;
   height: 200px;
   border-radius: 10px;
   overflow: hidden;
   font-size: 14px;
   vertical-align: top;
   position: relative;
   background-color: rgb(43, 87, 46);
   color: #fff;
}
.follow__card-link:not(:last-child) {
   margin-right: 24px;
}
.follow__card-link::before,
.follow__card-link::after {
   content: "";
   position: absolute;
   opacity: 0;
}
.follow__card-link::before {
   inset: 0;
   background-color: rgb(43, 87, 46);
}
.follow__card-link::after {
   width: 24px;
   height: 24px;
   background: url("../img/icons/s_instagram.svg") center / 24px no-repeat;
   top: 50%;
   left: 50%;
   margin-top: -12px;
   margin-left: -12px;
}
.follow__card-link:hover::before {
   opacity: 0.8;
}
.follow__card-link:hover::after {
   opacity: 1;
}
.follow__image {
}

/* --- Features ------------------------------------ */
.features {
   font-family: "Roboto", sans-serif;
}
.features__title {
   font-family: "CircularStd", sans-serif;
   font-size: 55px;
   color: #272D4E;
   text-align: center;
   line-height: 1.24;
   margin-bottom: 40px;
   padding-inline: 15px;
}
.features__documentation {
}
.features__eplore {
}
/* --- Documentation ------------------------------- */
.documentation {
   background-color: #5A54F2;
   color: #fff;
   position: relative;
   padding: 40px 0;
}
.documentation::before,
.documentation::after {
   content: "";
   width: 100%;
   height: 5.982906%; /* 70/1170 */
   mask-position: center;
   mask-size: cover;
   position: absolute;
   left: 0;
}
.documentation::before {
   background-color: #fff;
   -webkit-mask-image: url('../img/mask-top.svg');
   mask-image: url('../img/mask-top.svg');
   top: 0;
}
.documentation::after {
   background-color: #231F8B;
   -webkit-mask-image: url('../img/mask-bottom.svg');
   mask-image: url('../img/mask-bottom.svg');
   bottom: 0;
}
.documentation__container {
   max-width: 1510px;
   padding-inline: 7.291667%; /* 140/1920 */
   position: relative;
}
.documentation__container > *:not(:last-child) {
   margin-bottom: 55px;
}
.documentation__container::before {
   content: "";
   width: 27.880795%; /* 421/1510 */
   height: 64.954955%; /* 721/1110 */
   background: url("../img/documentation_decor-left.svg") center / contain no-repeat;
   position: absolute;
   top: 11.441441%; /* 127/1110 */
   left: 0;
}
.documentation__container::after {
   content: "";
   width: 34.503311%; /* 521/1510 */
   height: 40.720721%; /* 452/1110 */
   background: url("../img/documentation_decor-right.svg") center / contain no-repeat;
   position: absolute;
   bottom: 12.972973%; /* 144/1110 */
   right: -57px;
}
.documentation__item {
}
.documentation__item:first-child {
   top: -40px;
   margin-bottom: 15px;
}
/* item-documentation */
.item-documentation {
   position: relative;
   z-index: 1;
   font-size: 0;
}
.item-documentation:nth-child(even) {
   text-align: right;
}
.item-documentation:nth-child(even) .item-documentation__content {
   text-align: left;
}
.item-documentation:nth-child(odd) .item-documentation__wrap-image {
   margin-right: 70px;
   box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
}
.item-documentation:nth-child(even) .item-documentation__wrap-image {
   margin-left: 70px;
   box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.30);
}
.item-documentation__wrap-image {
   display: inline-block;
   max-width: 430px;
   border-radius: 20px;
}
.item-documentation__wrap-image img {
   border-radius: inherit;
}
.item-documentation__content {
   display: inline-block;
   vertical-align: top;
}
.item-documentation:nth-child(odd) .item-documentation__content {
   vertical-align: middle;
   padding: 100px 0 15px;
}
.item-documentation:nth-child(even) .item-documentation__content {
   padding: 30px 0 15px;
}
.item-documentation__title {
   font-family: "CircularStd", sans-serif;
   font-size: 36px;
   line-height: 1.28;
   margin-bottom: 12px;
}
.item-documentation__text {
   font-size: 18px;
   line-height: 1.666667; /* 30/18 */
   max-width: 480px;
   margin-bottom: 40px;
}
.item-documentation__text > *:not(:last-child) {
   margin-bottom: 10px;
}
.item-documentation__button {
   font-weight: 500;
   font-size: 18px;
   padding: 23px 26px;
   background-color: #F35B09;
   border-radius: 60px;
}
.item-documentation__button:hover {
   box-shadow: 0 0 10px rgba(243, 91, 9, 0.5), 0 0 20px 10px rgba(84, 48, 209, 0.3);
}
.item-documentation__button:active {
   background-color: #e0570d;
}
/* --- Explore ------------------------------------- */
.explore {
   padding: 55px 0;
   background-color: #231F8B;
}
.explore__container {
   max-width: 1080px;
}
.explore__block-header {
}
.block-header {
   color: #fff;
}
.block-header > *:not(:last-child) {
   margin-bottom: 10px;
}
.block-header__label {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.714286; /* 24/14 */
   letter-spacing: 0.2px;
   color: #5A54F2;
}
.block-header__title {
   font-family: "CircularStd", sans-serif;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.28;
}
.block-header__text {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.428571; /* 20/14 */
   letter-spacing: 0.2px;
   max-width: 765px;
}


/* === Footer ====================================== */
.footer {
   background-color: #1A1A1A;
   padding: 24px 0;
}
.footer__container {
   font-size: 0;
}
.footer__socials {
}
.footer__socials,
.footer__copy,
.footer__payment {
   display: inline-block;
   width: 33.333%;
   vertical-align: middle;
}
/* socials-footer */
.socials-footer {
}
.socials-footer__list {
}
.socials-footer__item {
   display: inline-block;
}
.socials-footer__item:not(:last-child) {
   margin-right: 8px;
}
.socials-footer__link {
   width: 40px;
   height: 40px;
   background-color: transparent;
   border-radius: 50%;
   text-align: center;
   align-content: center;
}
.socials-footer__link:hover {
   background-color: #00B207;
}
.socials-footer__link:active {
   background-color: #009b05;
}
.socials-footer__link svg {
   max-width: 18px;
}
.socials-footer__link:hover svg path {
   fill: #fff;
}
.footer__copy {
   font-size: 14px;
   text-align: center;
   color: #808080;
}
.footer__payment {
   text-align: right;
}
